- name: Deploy OTel Gateway config
  hosts: otel_gateways
  become: true

  tasks:
    - name: Copy gateway config
      copy:
        src: "{{ playbook_dir }}/../files/gateway/otel-gateway.yml"
        dest: "{{ otel_base_dir }}/configs/otel-gateway/otel-gateway.yml"
        mode: '0644'
      notify: restart otel gateway

  handlers:
    - name: restart otel gateway
      command: docker compose restart
      args:
        chdir: "{{ otel_base_dir }}/docker-compose/otel-gateway"
